.Rproj.user
.Rhistory
.RData
.Ruserdata
'.
/.quarto/
/_freeze/
# knitr and caching stuff
**/*_files/*
**/*_cache/*
glmulti.analysis.modgen.back
glmulti.analysis.mods.back
index.aux
index.log
index.tex
03-regroupements-_leftover.txt
